{% extends 'base.html' %}

{% block head %}
    <title>Song Settings</title>
{% endblock %}

{% block body %}
    <form method=post enctype=multipart/form-data>
        <label>
            <p>Song title: </p>
            <input type="text" value="{{ song_title }}">
            <input type="checkbox" id="automatic_id" name="automatic_id" checked>

            <!-- Your existing input -->
            <input type="number" id="piece_id" name="piece_id" min="1" value="{{ automatic_id }}" required disabled>
            <p>Stored TmpDir id on server: {{ stored_id }}</p>

            <script>
                $(document).ready(function () {
                    // Save the default value
                    var defaultValue = $('#piece_id').val();

                    // Listen for click on the checkbox
                    $('#automatic_id').change(function () {
                        if ($(this).is(':checked')) {
                            // Checkbox is checked, disable input and set the default value
                            $('#piece_id').prop('disabled', true);
                            $('#piece_id').val(defaultValue);
                        } else {
                            // Checkbox is not checked, enable the input
                            $('#piece_id').prop('disabled', false);
                        }
                    });
                });
            </script>
        </label>
    </form>

    <div id="parts_preview">
        {% for filename in files %}
            <p>{{ filename }}</p>
            <script>
                async function loadPreview(folder_id, part_id) {
                    const response = await fetch(`/load_preview?folder_id=${folder_id}&part_id=${part_id}`);
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.blob();  // assuming the server returns a Blob object
                }

                // Usage example:
                loadPreview({{ stored_id }}, {{ filename }})
                    .then(blob => {
                        // Assuming 'img' is an <img> tag already existing in the DOM,
                        // the following statement would append load Preview to it.
                        // document.querySelector("img").src = URL.createObjectURL(blob);
                        console.log(URL.createObjectURL(blob));
                    })
                    .catch(e => console.error(e));
            </script>
        {% endfor %}
    </div>
{% endblock %}